@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #ccae62;
    background: url(/pictures/bg.jpg);
    text-align: center;
    margin: 0;
    font-family: 'Merriweather', serif;
}

h1{
    font-family: 'Cinzel', serif;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 7%;
}

form {
    background-color: #84817a;
    background: url(/pictures/bg-drk.jpg);
    color: ivory;
    max-width: 80%;
    border-style: solid;
    border-color: #cc8e35;
    border-width: 1px;
    margin: 0 auto;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
    border-radius: 1%;
    padding: 5% 6%;
    font-family: inherit;
}

.form-control{
    text-align: left;
    margin-bottom: 5%;
}

.form-control label {
    display: block;
    margin: 1%;
}

.form-control input, .form-control select, .form-control textarea {
    display: block;
    width: 100%;
    border: 1px solid #000;
    border-radius: 2px;
}

.form-control input[type="radio"],
    .form-control input[type="checkbox"] {
    width: auto; 
    display: inline-block;
}

button {
    background-color: #f7f1e3;
    border-radius: 10px;
    font-family: inherit;
}